extends layout

block content
  .container
    .row 
      h1 #{title}
    .row
      .col(style="margin-bottom:16px")
        span Artists: 
        each artist in song.artists
          span(style="background-color:#d0d0d0; margin-right:5px; padding:2px 5px") #{`${artist}`}
    .row
      .col 
        each val in [1, 2, 3, 4, 5]
          span #{(val <= song.rating)? '★' : '☆'}
    .row
      .col
        div Length: #{(song.length)? `${Math.floor(song.length / 60)}:${song.length % 60}` : unknown}
    .row
      .col(style="margin-bottom:24px")
        div Release Year: #{song.releaseYear}
    .row
      .col-12
        .card.card-primary.review-card
          .card-block
            h3.card-title Reviews
            .container
              each review in song.reviews
                .row.review(style="margin-bottom:16px")
                  .col-12.no-gutters.review-header
                    h4.reviewAuthor(style="display:inline-block;margin-right:20px") #{review.author}
                    small.reviewTimestamp #{new Date(review.createdOn).toDateString()}
                    div
                      each val in [1, 2, 3, 4, 5]
                        span #{(val <= review.rating)? '★' : '☆'}
                  .col-12
                    p !{(review.reviewText).replace(/\n/g, '<br/>')}